mixin icon(name,mod)
	- mod = mod || ''
	svg(class="svg icon-" + name + ' ' + mod)
		use(xlink:href="../assets/images/sprite.svg#icon_" + name)

mixin icon_full(name,mod)
	- mod = mod || ''
	svg(class="svg icon-" + name + ' ' + mod)
		use(xlink:href="../assets/images/" + name + ".svg")