// default colors
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #008000;

$gray-dark: #333333;
$gray-light: #efefef;

// layout colors
$color-primary: red;
$color-second: blue;

//fonts
$font-primary: Arial, sans-serif;
$font-glyphicon: 'Glyphicons Halflings';