@import 'includes.scss';
@import 'include/components';

.header {
	height: 50px;
	background: $gray-light;
}

.main {
	min-height: 100%;
	padding: 50px 0 40px;
	background:$white;
	box-sizing: border-box;
}

.footer {
	height: 40px;
	margin-top: -40px;
	box-sizing: border-box;
	background: $gray-light;
}